<h1 class="center">Title: <%= @article.title %></h1>

<div class="card card-body bg-light col-sm-8 offset-sm-2">
	<% if @article.user %>
		<ul class="listing">
			<div class="center row">
				<div class="col-md-4 offset-md-4">
					<div class="card-block">
						<li>Created by:</li>
						<li>
						  <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
						</li>
						<li class="article-title">
							<%= link_to @article.user.username, user_path(@article.user) %>
						</li>
						<li>
							<small>
								<%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
							</small>
						</li>
					</div>				
				</div>			
			</div>		
		</ul>
	<% end %>
	<h4 class="center"><strong>Description:</strong></h4>
	<hr>
  <%= simple_format(@article.description) %>
  <div class="article-actions">
		<%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
		<%= link_to "Delete this article", article_path(@article), method: :delete, 
																			 data: { confirm: "Are you sure you want to delete the article?!"}, 
																			 class: "btn btn-sm btn-danger" %>
		<%= link_to "View all articles", articles_path, class: "btn btn-sm btn-success" %>
	</div>
</div>